@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('../fonts/PIXELS.ttf');
  font-family: PIXELS;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  background-image: url('/media/arf_bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
