.chapter {
  /* min-height: 300px; */
  max-width: 420px;
  margin: 0 auto;
  user-select: none;
}

.rightChapter {
  margin-left: 50%;
}
.leftChapter {
  margin-right: 50%;
}

.chapter h2 svg,
.chapter h3 svg {
  color: limegreen;
  filter: drop-shadow(0 0 0.7rem cyan);
}
.chapter > h2 {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.leftChapter > h2 {
  flex-direction: row-reverse;
}
.mobileChapter > h2 > svg,
.rightChapter > h2 > svg {
  margin-right: 0.7rem;
}
.leftChapter > h2 > svg {
  margin-left: 0.7rem;
}

.event {
  margin: 0.5rem 0;
  padding: 1rem;
  text-align: left;
}

.event > h3 {
  margin: 0;
  display: flex;
  align-items: center;
}
.leftEvent > h3 {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.mobileEvent > h3 > svg,
.rightEvent > h3 > svg {
  margin-right: 0.7rem;
}
.leftEvent > h3 > svg {
  margin-left: 0.7rem;
}

.event > p {
  margin: 1rem 0 0 0;
}
